.Calculator {
    color: #86c551;
}

.Selectedcurrency {
    color: #7DACF3;
}

.Calculator input {
    border: solid #0D2F52 1px;
    background: transparent;
    color: #7DACF3;
}

.Calculator input:focus {
    outline: none;
    background: transparent;
}

.Buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}