.Cryptocurrencies {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;
    width: 850px;
    margin: 100px auto auto auto;
}

@media screen and (max-width: 900px) {
    .Cryptocurrencies {
        flex-flow: column;
        justify-content: space-between;
        width: 80%;
    }
}