body {
  font-size: 14px;
  margin: 0;
  font-family: sans-serif;
  color: #06162E;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul li {
  list-style: none;
}